:root{
    --primaryColor: #68BE11;
    --LightDark: #383838;
    --principalFont: 'Noto Sans', sans-serif;
    --secondaryFont: 'Roboto Slab', serif;
    --fondo: #eeeeeeff;
}

*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 6rem;
    height: 5rem;
}

body{
    font-family:var(--principalFont);
    background-color: var(--fondo);
}

header{
    position: fixed;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fondo);
    border-bottom: 2px solid rgb(73, 73, 73);
}


nav ul{
    display: flex;
    gap: 1.6rem;
    list-style: none;
    margin: 0;
}

.items-nav a{
    position: relative;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--LightDark);
}

#login{
    margin: 0 4rem;
}

.items-nav a:hover{
    color: var(--primaryColor);
    cursor: pointer;
    
}

.items-nav a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--primaryColor);
    bottom: -10px;
    transition: 0.3s;
}


.items-nav a:hover:after{
    width: 100%;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contenedor{
    width: 100%;
    height: 100vh;
    background: url(/img/fondo1.jpg) no-repeat;
    background-size: 100% 100%;
}

.contenedor-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-inicio div{
    width: 50%;
    height: 400px;
    backdrop-filter: blur(3px);
    border-radius: 10%;
    gap: 20px;
}

.contenedor-inicio div h1 {
    text-align: center;
    color: var(--fondo);
    font-family: var(--secondaryFont);
}

.contenedor-inicio .parrafos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

.contenedor-inicio div p{
    text-align: start;
    color: var(--fondo);
    width: 85%;
    font-size: 1.2rem;
    font-family: var(--secondaryFont);
}

.btn-modal{
    position: absolute;
    top: 100px;
    left: 100px;
}