:root{
    --colorPrimario: #68BE11;
    --colorFuenteOscuraClaro: #383838;
    --funteParrafos: 'Noto Sans', sans-serif;
    --fuenteTitulos: 'Roboto Slab', serif;
    --claro: #eeeeeeff;
}

*{
    margin: 0;
    padding: 0;
}
.iconos li img{
    width: 2rem;
}
.logo{
    width: 6rem;
    height: 5rem;
}

body{
    font-family:var(--funteParrafos);
    background-color: var(--claro);
}

header{
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: var(--claro);
    border-bottom: 1px solid rgb(73, 73, 73);
    box-shadow: inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
    z-index: 10;
}

nav ul{
    display: flex;
    gap: 1.6rem;
    list-style: none;
    margin: 0;
}
.separador{
    margin: 50px 0px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.resaltado{
    font-weight: bold;
}

.fuente-primaria{
    color: var(--colorPrimario);
}
.items-nav a{
    position: relative;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--colorFuenteOscuraClaro);
}

#login{
    margin: 0 4rem;
}

.items-nav a:hover{
    color: var(--colorPrimario);
    cursor: pointer;
}

.items-nav a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--colorPrimario);
    bottom: -10px;
    transition: 0.3s;
}

.items-nav a:hover:after{
    width: 100%;
}

.buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 35px;
    border-radius: 30px;
    transition: 0.8s;
    padding: 0px 10px;
    cursor: pointer;
}

.buscador input{
    height: 30px;
    border: transparent;
    outline: none; 
    font-size: 16px;
    font-weight: 500;
    color: var(--colorFuenteOscuraClaro);
    font-family: var(--funteParrafos);
    transition: 0.8s;
    
}

.buscador input:focus{
    width: 100px;
}

.expandirInput{
    width: 100px;
}

.esconderInput{
    width: 0;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contenedor{
    width: 100%;
    min-height: 100vh;
}

.contenedor h1 {
    text-align: center;
    color: var(--claro);
    font-family: var(--fuenteTitulos);
}

.contenedor-inicio {   
    background: url(/img/fondo1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuerpo-inicio{
    width: 60%;
    height: 350px;
    background-color: #00000048;
    backdrop-filter: blur(3px);
    mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
    border-radius: 15px;
    gap: 20px;
    padding: 20px 0px;
}

.contenedor-inicio .parrafos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-top: 30px;
}

.contenedor-inicio div p{
    text-align: start;
    color: var(--claro);
    width: 85%;
    font-size: 1.2rem;
    font-family: var(--funteParrafos);
}
/*-------------------------------------- NOSOTROS -------------------------------------- */
.contenedor-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contenedor-nosotros h1 {
    color: var(--colorFuenteOscuraClaro);
}
.contenedor-nosotros .parrafos {
    width: 60%;
    gap: 40px;
}

/*-------------------------------------- NOTICIAS -------------------------------------- */
.contenedor-noticias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor-noticias h1{
    color: var(--colorFuenteOscuraClaro);
}

.contenedor-noticias h5{
    margin-bottom: 30px;
}

.contenedor-noticias .noticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    justify-content: center;
}


.contenedor-noticias .noticias .card{
    height: auto;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease;
}
.contenedor-noticias .card-body{
    margin-top: 0px !important; 
}

.contenedor-noticias .noticias .card:hover{
    
    border: 1px solid var(--colorPrimario);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1)
}

.contenedor-noticias .noticias a {
    list-style: none;
    color: var(--colorFuenteOscuraClaro);
    text-decoration: none;
    
}

.contenedor-noticias .noticias .card .imgNoticia img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-noticias .noticias .card  .imgNoticia{
    height: 50%;
}


.contenedor-noticias .contenedorCard{
    width: 30%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------------------- NOTICIA -------------------------------------- */
.contenedor-noticia{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-noticia{
    margin: 50px auto;
    width: 70%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-principal{
    width: 80%;
    margin: 50px 0px 50px 0px;
}
.contenedor-noticia h1{
    color: var(--colorFuenteOscuraClaro);
    margin-top: 50px;
    width: 90%;
}
.contenedor-noticia h3{
    font-family: var(--fuenteTitulos);
    margin: 60px 0px 60px 0px;

}
.contenedor-noticia .parrafos{
    width: 60%;
    gap: 40px;
}
.contenedor-noticia .parrafos .fst-italic{
    margin-bottom: 30px !important;
    width: 80%;
    margin: 0px auto;
}

.texto-cita{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin: 40px auto;
    width: 80%;
}
/*-------------------------------------- COMENTARIOS -------------------------------------- */
.contenedor-comentarios{
    width: 70%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-comentarios .card{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contenedor-comentarios .card p{
    margin-left: 40px;
}
.contenedor-comentarios textarea{
    border: none;
    border-bottom: 1px solid var(--colorFuenteOscuraClaro);
}
.contenedor-input-comentar{
    width: 100%;
    display: flex;

}
.contenedor-input-comentar div{
    width: 100%; 
}
.img-perfil-sm{
    width: 50px;
    height: 50px;
    background-color: #383838;
    border-radius: 50%;
}
/*-------------------------------------- MODAL FORMS -------------------------------------- */

#helper-text{
    font-size: 12px;
    color: grey;
}
form{
    padding: 0px 30px 0px 30px;
}

form .items-nav a{
    font-size: 10;
}
.activo{
    color: var(--colorPrimario) !important;
    font-weight: bold;
    font-size: 18px;
}

#mensaje-alerta{
    z-index: 3;
    transition: all 0.2s ease;
    padding: 0px auto;
}
.visible{
    visibility: visible; /* Al alterar las márgenes y el height no es necesaria esta propiedad */
    opacity: 1;
    height: auto;
    padding: 15px 0px;
    transition: opacity 1s linear;
}
.oculto{
    visibility: hidden; /* Al alterar las márgenes y el height no es necesaria esta propiedad */
    opacity: 0;
    height: 0;
    padding: 0;
 }

 /*-------------------------------------- CONTACTO -------------------------------------- */

 .contenedor-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.contenedor-contacto h1{
    color: var(--colorFuenteOscuraClaro);
}

.contacto h3{
    color: var(--colorPrimario);
    font-family: var(--fuenteTitulos);
}
.contacto p{
    margin-bottom: 50px;
}

.contenedor-contacto .contacto{
    display: flex;
    justify-content: space-around;
    height: 90%;
    width: 90%;
}

.contacto .section-contacto, .contacto .form-contacto{
    width: 45%;
    height: 90%;
    margin: 3% 0; 
}

.contacto .section-contacto img{
    width: 35%;

}

.contacto .form-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto .form-contacto div{
    width: 90%;
    height: 80%;
}

 /*-------------------------------------- NOTICIA MOBILE -------------------------------------- */

.imgMobile{
    width: 95vw;
}

.parrafosMobile{
    width: 90%;
}

.parrafosMobile p{
    font-size: 18px;
}

.parrafosMobile p.texto-cita{
    font-size: 16px;
    font-style: oblique;
}

h1.tituloMobile{
    font-size: 40px;
}

.parrafosMobile h3{
    font-size: 30px;
}

.items-navMobile a{
    text-decoration: none;
    color: var(--claro);
}

.loginMobile{
    margin: 0;
}

/*-------------------------------------- TABLA MODAL -------------------------------------- */

.modalTabla{
    width: 150% !important;
    margin-top: 10%;
    margin-left: -15%;
}