:root{
    --colorPrimario: #68BE11;
    --colorFuenteOscuraClaro: #383838;
    --funteParrafos: 'Noto Sans', sans-serif;
    --fuenteTitulos: 'Roboto Slab', serif;
    --claro: #eeeeeeff;
}

*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 6rem;
    height: 5rem;
}

body{
    font-family:var(--funteParrafos);
    background-color: var(--claro);
}

header{
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: var(--claro);
    border-bottom: 1px solid rgb(73, 73, 73);
    box-shadow: inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
    z-index: 2;
}

nav ul{
    display: flex;
    gap: 1.6rem;
    list-style: none;
    margin: 0;
}

.resaltado{
    font-weight: bold;
}

.fuente-primaria{
    color: var(--colorPrimario);
}
.items-nav a{
    position: relative;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--colorFuenteOscuraClaro);
}

#login{
    margin: 0 4rem;
}

.items-nav a:hover{
    color: var(--colorPrimario);
    cursor: pointer;
}

.items-nav a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--colorPrimario);
    bottom: -10px;
    transition: 0.3s;
}

.items-nav a:hover:after{
    width: 100%;
}

.buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 35px;
    border-radius: 30px;
    transition: 0.8s;
    padding: 0px 10px;
    cursor: pointer;
}

.buscador input{
    height: 30px;
    border: transparent;
    outline: none; 
    font-size: 16px;
    font-weight: 500;
    color: var(--colorFuenteOscuraClaro);
    font-family: var(--funteParrafos);
    transition: 0.8s;
    
}

.buscador input:focus{
    width: 100px;
}

.expandirInput{
    width: 100px;
}

.esconderInput{
    width: 0;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contenedor{
    width: 100%;
    min-height: 100vh;
}

.contenedor h1 {
    text-align: center;
    color: var(--claro);
    font-family: var(--fuenteTitulos);
}

.contenedor-inicio {   
    background: url(/img/fondo1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuerpo-inicio{
    width: 60%;
    height: 350px;
    background-color: #00000048;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    gap: 20px;
    padding: 20px 0px;
}

.contenedor-inicio .parrafos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-top: 30px;
}

.contenedor-inicio div p{
    text-align: start;
    color: var(--claro);
    width: 85%;
    font-size: 1.2rem;
    font-family: var(--funteParrafos);
}
/*-------------------------------------- NOSOTROS -------------------------------------- */
.contenedor-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contenedor-nosotros h1 {
    color: var(--colorFuenteOscuraClaro);
}
.contenedor-nosotros .parrafos {
    width: 60%;
    gap: 40px;
}

/*-------------------------------------- NOTICIAS -------------------------------------- */
.contenedor-noticias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor-noticias h1{
    color: var(--colorFuenteOscuraClaro);
}

.contenedor-noticias .noticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 80vh;
    justify-content: center;
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}


.contenedor-noticias .noticias .card{
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contenedor-noticias .noticias .card:hover{
    border: 2px solid var(--colorPrimario);
}

.contenedor-noticias .noticias a {
    list-style: none;
    color: var(--colorFuenteOscuraClaro);
    text-decoration: none;
    
}

.contenedor-noticias .noticias .card .imgNoticia img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-noticias .noticias .card  .imgNoticia{
    height: 50%;
    background-color: chartreuse;
}


.contenedor-noticias .contenedorCard{
    width: 30%;
    height: min-content;
   
}

/*-------------------------------------- NOTICIA -------------------------------------- */
.contenedor-noticia{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-noticia{
    margin: 50px auto;
    width: 70%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-principal{
    width: 80%;
    margin: 50px 0px 50px 0px;
}
.contenedor-noticia h1{
    color: var(--colorFuenteOscuraClaro);
    margin-top: 50px;
    width: 90%;
}
.contenedor-noticia h3{
    font-family: var(--fuenteTitulos);
    margin: 40px auto;
}
.contenedor-noticia .parrafos{
    width: 60%;
    gap: 40px;
}
.contenedor-noticia .parrafos .fst-italic{
    margin-bottom: 30px !important;
    width: 80%;
    margin: 0px auto;
}
.texto-cita{
    text-align: center;
    font-style: italic;
    margin: 40px auto;
    width: 80%;
}
/*-------------------------------------- MODAL FORMS -------------------------------------- */

#helper-text{
    font-size: 12px;
    color: grey;
}
form{
    padding: 30px 30px 0px 30px;
}

form .items-nav a{
    font-size: 10;
}
.activo{
    color: var(--colorPrimario) !important;
    font-weight: bold;
    font-size: 18px;
}